<launch>

    <arg name="world_path" default="office_test"/>

    <include file="$(find flatland_server)/launch/server.launch">
        <arg name="world_path" value="$(find ros1_flatland_quick_start)/flatland_worlds/$(arg world_path)/world.yaml"/>
    </include>

    <!-- Load map -->
    <node pkg="map_server" type="map_server" name="map_server" output="screen" args="$(find ros1_flatland_quick_start)/flatland_worlds/$(arg world_path)/map.yaml">
		<!-- <remap from="/map" to="/$(arg ns)/map"/> -->
        <!--
		<remap from="/tf" to="/$(arg ns)/tf"/>
		<remap from="/clock" to="/$(arg ns)/clock"/>
        -->
    </node>

    <!-- odom frame == map frame-->
	<node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 map odom 50">
		<!--
        <remap from="/tf" to="/$(arg ns)/tf"/>
		<remap from="/clock" to="/$(arg ns)/clock"/>
        -->
	</node>

    <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
        <param name="default_topic" value="/cmd_vel"/>
    </node>

</launch>